
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.immediate.co.uk/production/volatile/sites/2/2015/03/4694.jpg?quality=45&resize=1880,808'); height: 30%">
  <div class="container">
<h1>Apero!</h1>
</div>
</div>
<!-- <p>Find me in app/views/restaurants/index.html.erb</p> -->
<div class="main-container">
  <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.present? %>
      <div class="card" style="background-image: url(cocktail.photo)">
        <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </div>
      <% else %>
      <div class="card">
      <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
    </div>
    <% end %>
  <% end %>
  </div>
</div>

<div>
  <p>Add a cocktail</p>
<%= render 'form', cocktail: @cocktail %>
</div>

